@import url("https://fonts.googleapis.com/css2?family=Bayon&family=Bokor&family=Fasthand&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playwrite+CU+Guides&family=Playwrite+US+Trad+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.logo img {
  width: 50px;
  height: 50px;
}
.header {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #a4fb66ba;
  width: 100%;
}
.header h1 {
  font-size: 24px;
  color: #333;
}
.menu ul {
  display: flex;
  gap: 20px;
  list-style: none;
  font-family: "Fasthand", cursive;
  font-weight: 400;
  font-style: normal;
}
.menu ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
  font-weight: 900;
}
.menu ul li a:hover {
  color: #007bff;
}
.infor {
  display: flex;
  align-items: center;
  gap: 20px;
}
.search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search input {
  padding: 5px 10px 5px 10px;
  padding-right: 35px;
  border: 1px solid #000000;
  border-radius: 4px;
  width: 200px;
  font-size: 14px;
  background-color: transparent;
  transition: border-color 0.3s ease;
  outline: none;
}
.search i {
  position: absolute;
  right: 10px;
  pointer-events: auto;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s ease;
}
.search i:hover {
  color: #333;
}
.language {
  display: flex;
  border: 1px solid #000000;
  border-radius: 10px;
  overflow: hidden;
}
.lang-btn {
  background-color: #f5f83b;
  padding: 6px 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 5px;
}
.lang-btn i {
  font-size: 16px;
}
.lang-btn:hover {
  background-color: #f0f0f0;
  border-color: #999;
}
.lang-btn.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}
.lang-btn.active:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
.main {
  padding: 20px;
}
.main .hero {
  text-align: center;
  border-radius: 8px;
  line-height: 1.5;
}
.main .hero .hero-content {
  font-family: "Bayon", cursive;
  font-size: 26px;
  color: #333;
  margin-bottom: 20px;
}
.main .hero .hero-content p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #666;
}
.main .hero .hero-content a {
  display: inline-block;
  margin-top: 20px;
  padding: 0px 15px 0px 15px;
  background-color: #007bff;
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.main .hero .hero-content a:hover {
  background-color: #0056b3;
}
.detail p {
  text-align: center;
  padding: 0px 100px 0px 100px;
  margin-top: 20px;
  font-family: "Fasthand", cursive;
  font-weight: 900;
  font-size: 20px;
  color: #000000;
  line-height: 2;
}

/* responsive design */
@media (max-width: 768px) {
  .header .logo h1 {
    display: none;
    align-items: flex-start;
  }
  .menu ul {
    gap: 10px;
  }
  .search input,
  .search i {
    display: none;
  }
}
@media (max-width: 576px) {
  .detail p {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    font-family: "Fasthand", cursive;
    font-weight: 900;
    font-size: 20px;
    color: #000000;
    line-height: 2;
  }
  .menu ul {
    display: none;
  }
}

.Register{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.ln-btn{
  background-color: #ffffff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  font-family: Khmer OS Battambang;
}

.Shop i{
  font-size: 20px;
  color: #1e00ff;
}
